@{
    ViewBag.Title = "Contact";
}

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@bookhivecorp.com">Support@bookhivecorp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bookhivecorp.com">Marketing@bookhivecorp.com</a>
</address>