@model BookHiveCorp.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm()) {
    
    <h2>Address And Payment</h2>
    <fieldset>
        <legend>Shipping Information</legend>

        @Html.EditorForModel()
    <br/></fieldset>
    <fieldset>
        <legend>Payment</legend>
        <p>We're running a promotion: all fiction books are free with the promo code: "10BOOKDEAL"</p>

        <div class="editor-label">
            @Html.Label("Promo Code")
        </div>
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>
    <br/>
    <input type="submit" class="btn btn-success" value="Submit Order" />
}